{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}

    


<div class="centralArea col-12">
    <div class="row">
        <div class="col-md-6 offset-md-3 fullColorBackground">
            <div class="d-block prosHeader">
                <form method="post" action="/signup/create">
                    <h1><i class="icon-gamepad prosIcon"></i>Rejestracja</h1>
                    <div class="input-group w-75 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="icon-user"></i></div>
                        </div>
                        <input name="username" class="form-control " id="username"  placeholder="Podaj imię"/>       
                    </div>
                    <div class="input-group w-75 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="icon-at"></i></div>
                        </div>
                        <input name="email" type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Podaj email"/> 
                    </div>
                    <div class="input-group w-75 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="icon-lock"></i></div>
                        </div>
                        <label for="exampleInputPassword1"></label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Hasło"/>		   
                    </div>   
                    <div class="input-group w-75 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="icon-docs"></i></div>
                        </div>
                        <label for="exampleInputPassword2"></label>
                        <input name="password2" type="password" class="form-control" id="exampleInputPassword2" placeholder="Powtórz hasło"/>  
                    </div>  
                    <div class="w-75 mx-auto py-2">
                        <label>
                        <input type="checkbox" name="rules"/> Akceptuję regulamin
                        </label>                        
                    </div>									
                    <button type="submit" class="btn btn-outline-secondary signIn my-4 w-50">Zarejestruj się!</button> 									
                </form>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 fullColorBackground my-5">
            <div class="d-block prosHeader">
                <h1>Posiadasz już konto?</h1>
                <a href="/login/index">
                    <button type="button" class="btn btn-outline-primary signIn my-4 w-50">Zaloguj się!</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
