{% extends "base.html" %}

{% block title %}Expense{% endblock %}

{% block footer %}

	<script src="/js/site.js"></Script>	

	<script>
		
		$(document).ready(function() {
			$('#formExpense').validate({
				rules: {
					expense_amount: {
						required: true,
						validAmount: true
						},
					expense_date: {
						required: true,
						validDate: true
						},
          payment_method: {
						required: true,
            min: 1
					},
          expense_category: {
						required: true,
            min: 1
					}
				},
				messages: {
          expense_amount: {
            required: "Proszę podać kwotę"
          },            
          expense_date: {
            required: "Proszę podać datę"
          },
					payment_method: "Proszę wybrać metodę płatności",
					expense_category: "Proszę wybrać kategorię"
				}
			});
		});	
	</script>

{% endblock %}

{% block body %}
    
<div class="centralArea">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground">
            <div class="d-block prosHeader">
                <h1><i class="icon-up-open"></i>Dodaj wydatek<i class="icon-up-open"></i></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground my-4 px-4 pb-3">
          <form method="post" action="/expenses/add" id="formExpense">
            <div class="input-group inputControl w-100">
                <div class="input-group-prepend w-25">
                    <div class="input-group-text w-100 justify-content-center"><i class="icon-money"></i></div>
                </div>
                <input name="expense_amount" type="number" class="form-control " min="0.0" step=".01" placeholder="Kwota" required>
            </div>
            <div class="input-group inputControl w-100">
                <div class="input-group-prepend w-25">
                  <label class="input-group-text w-100 justify-content-center"><span class="datePrependLabel">Data</span> <i class="icon-calendar"></i></label>
                </div>
                <input name="expense_date" type = "text" id = "datepicker-13" class="form-control datepicker" required>
            </div>  
            <div class="input-group mb-3 inputControl w-100">
                <div class="input-group-prepend w-25">
                  <div class="input-group-text justify-content-center w-100">
                    <i class="icon-money"></i>
                    <i class="icon-credit-card"></i>
                    <i class="icon-euro"></i>
                  </div>
                </div>
                <select name="payment_method" class="form-select" onfocus='this.size=2;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                  <option selected>Forma płatności</option>
                  <option value="1">Gotówka</option>
                  <option value="2">Karta kredytowa</option>
                  <option value="3">Karta debetowa</option>
                  <option value="4">Przelew</option>
                </select>
            </div>
            <div class="input-group mb-3 inputControl w-100">
                <div class="input-group-prepend w-25">
                  <div class="input-group-text w-100 justify-content-center"><i class="icon-th"></i></div>
                </div>
                <select name="expense_category" class="form-select" onfocus='this.size=4;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                  <option selected>Kategoria</option>
                  <option value="1">Jedzenie</option>
                  <option value="2">Mieszkanie</option>
                  <option value="3">Transport</option>
                  <option value="4">Telekomunikacja</option>
                  <option value="5">Opieka zdrowotna</option>
                  <option value="6">Ubrania</option>
                  <option value="7">Higiena</option>
                  <option value="8">Dzieci</option>
                  <option value="9">Rozrywka</option>
                  <option value="10">Wycieczka</option>
                  <option value="11">Szkolenia</option>
                  <option value="12">Ksiązki</option>
                  <option value="13">Oszczędności</option>
                  <option value="14">Emerytura</option>
                  <option value="15">Długi</option>
                  <option value="16">Darowizna</option>
                  <option value="17">Inne</option>
                </select>
            </div>
            <div class="input-group mb-3 inputControl w-100">
                <div class="input-group-prepend w-25">
                  <div class="input-group-text w-100 justify-content-center"><i class="icon-edit"></i></div>
                </div>
                <textarea id="expense_comment" name="expense_comment" rows="1" cols="50" class="form-control" placeholder="Opisz swój wydatek"></textarea>
            </div>
            <div class="buttonArea d-flex">
              <button type="submit" class="btn btn-outline-primary w-50 mx-auto"><i class="icon-up-open"></i>Dodaj</button>
            </div>    
          </form>
        </div>
    </div>
</div>

{% endblock %}
