{% extends "base.html" %}

{% block title %}Expense{% endblock %}

{% block footer %}

	<script src="/js/site.js"></Script>	

	<script>
		
		$(document).ready(function() {
			$('#formExpense').validate({
				rules: {
					expense_amount: {
						required: true,
						validAmount: true
						},
					expense_date: {
						required: true,
						validDate: true
						},
          payment_method: {
						required: true,
            min: 1
					},
          expense_category: {
						required: true,
            min: 1
					}
				},
				messages: {
          expense_amount: {
            required: "Proszę podać kwotę",
            number:"Podaj poprawną wartość"
          },            
          expense_date: {
            required: "Proszę podać datę"
          },
					payment_method: "Proszę wybrać metodę płatności",
					expense_category: "Proszę wybrać kategorię"
				}
			});
		});	
	</script>

  	<script src="/js/expense.js"></Script>

{% endblock %}

{% block body %}


    
<div class="centralArea">

    {% if expense.errors is not empty %}

    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground">
        <p>Błędy:</p>
        <ul>

          {% for error in expense.errors %}
            <li>{{ error }}</li>
          {% endfor %}

        </ul>
      </div>
    </div>

    {% endif %}

    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground">
            <div class="d-block prosHeader">
                <h1><i class="icon-up-open"></i>Dodaj wydatek<i class="icon-up-open"></i></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground my-4 px-4 pb-3">
          {% if expense.id is not empty %}
          {% set formAction = "/expenses/update" %}
        {% endif %}
        {% if expense.id is empty %}
          {% set formAction = "/expenses/add" %}
        {% endif %}
          <form method="post" action="{{formAction}}" id="formExpense">
            {% if expense.id is not empty %}
          <input name="id" type="text" class="form-control " hidden value = "{{ expense.id }}">
          <input name="redirectUrl" type="text" class="form-control " hidden value = "{{ expense.redirectUrl }}">
          {% endif %}
            <div class="input-group inputControl w-100">
                <div class="input-group-prepend w-25">
                    <div class="input-group-text w-100 justify-content-center"><i class="icon-money"></i></div>
                </div>
                <input name="expense_amount" id="expense_amount" type="number" class="form-control " min="0.0" step=".01" placeholder="Kwota" required value="{{ expense.amount }}">
            </div>
            <div class="input-group inputControl w-100">
                <div class="input-group-prepend w-25">
                  <label class="input-group-text w-100 justify-content-center"><span class="datePrependLabel">Data</span> <i class="icon-calendar"></i></label>
                </div>
                <input name="expense_date" type="text" id="expense_date" class="form-control datepicker" required value="{{ expense.date_of_expense }}">
            </div>  
            <div class="input-group mb-3 inputControl w-100">
                <div class="input-group-prepend w-25">
                  <div class="input-group-text justify-content-center w-100">
                    <i class="icon-money"></i>
                    <i class="icon-credit-card"></i>
                    <i class="icon-euro"></i>
                  </div>
                </div>
                <select name="payment_method" class="form-select">
                  {% if expense.id is empty %}
                  <option selected>Forma płatności</option>
                  {% endif %}
                  {% if payment_methods is not empty %}
                    {% for row in payment_methods %}
                      {% if row.id == expense.payment_method_id %}
                        <option value="{{row.id}}" selected>{{ row.name }}</option>
                      {% endif %}
                      {% if row.id != expense.payment_method_id %}
                        <option value="{{row.id}}">{{ row.name }}</option>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </select>
            </div>
            <div class="input-group mb-3 inputControl w-100">
                <div class="input-group-prepend w-25">
                  <div class="input-group-text w-100 justify-content-center"><i class="icon-th"></i></div>
                </div>
                <select name="expense_category" id="expense_category" class="form-select">
                  {% if expense.id is empty %}
                    <option selected>Kategoria</option>
                  {% endif %}
                  {% if expense_categories is not empty %}
                    {% for row in expense_categories %}
                      {% if row.id == expense.expense_category_id %}
                        <option value="{{row.id}}" selected>{{ row.name }}</option>
                      {% endif %}
                      {% if row.id != expense.expense_category_id %}
                        <option value="{{row.id}}">{{ row.name }}</option>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </select>
            </div>
            <div class="input-group mb-3 inputControl w-100">
                <div class="input-group-prepend w-25">
                  <div class="input-group-text w-100 justify-content-center"><i class="icon-doc-text"></i></div>
                </div>
                <textarea id="expense_comment" name="expense_comment" rows="1" cols="50" class="form-control" placeholder="Opisz swój wydatek">{{ expense.expense_comment }}</textarea>
            </div>
            <div class="buttonArea d-flex justify-content-center">
              {% if expense.id is not empty %}
                <a href="/expenses/remove?id={{expense.id}}" class="w-50 mx-1">
                  <button type="button" class="btn btn-outline-danger w-100"><i class="icon-trash"></i>Usuń</button>
                </a>
                <button type="submit" class="btn btn-primary w-50 mx-1"><i class="icon-floppy"></i>Zapisz</button>
              {% endif %}
              {% if expense.id is empty %}
                <button type="submit" class="btn btn-primary w-50 mx-1"><i class="icon-down-open"></i>Dodaj</button>
              {% endif %}
            </div>    
          </form>
        </div>
    </div>
</div>

{% endblock %}
