{% extends "base.html" %}

{% block title %}Expense{% endblock %}

{% block footer %}

	<script src="/js/site.js"></Script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var incomesData = $('.js-balance-incomes').data('balanceIncomes');
        var arrayLenght = incomesData.length;
        var incomeData = [["Name", "Amount"]];
        for (var i = 0; i < arrayLenght; i++){
          var innerTable = [incomesData[i].name, parseFloat(incomesData[i].categorySum)]
          incomeData.push(innerTable);
        }
        var data = google.visualization.arrayToDataTable(incomeData);

        var options = {
          title: 'Incomes'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart-incomes'));

        chart.draw(data, options);
      }

    </script>

    <script type="text/javascript">


  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

function drawChart() {

  var expensesData = $('.js-balance-expenses').data('balanceExpenses');
  var arrayLenght = expensesData.length;
  var expenseData = [["Name", "Amount"]];
  for (var i = 0; i < arrayLenght; i++){
    var innerTable = [expensesData[i].name, parseFloat(expensesData[i].categorySum)]
    expenseData.push(innerTable);
  }
  var data = google.visualization.arrayToDataTable(expenseData);
  var options = {
    title: 'Expenses'
  };

  var chart = new google.visualization.PieChart(document.getElementById('piechart-expenses'));

  chart.draw(data, options);
}

  </script>

{% endblock %}

{% block body %}



<div class="centralArea">

  {% if expense.errors is not empty %}

  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground">
      <p>Błędy:</p>
      <ul>

        {% for error in expense.errors %}
          <li>{{ error }}</li>
        {% endfor %}

      </ul>
    </div>
  </div>

  {% endif %}

  <div class="row">
    <div class="col-12 fullColorBackground">
        <div class="d-block prosHeader">
            <h1><i class="icon-chart-bar"></i>Twój bilans<i class="icon-chart-bar"></i></h1>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 fullColorBackground my-4 px-4 pb-3 d-flex justify-content-center">
        <div class="main_wrapper_balance d-flex flex-column w-100">
          <div class="container_cashflow_wrapper px-2 justify-content-around">
            <div class="container_cashflow_col d-flex flex-column align-items-center">
              <div class="balance_header_tile">
                  <h3>Przychody</h3>
              </div>
              <div class="cashflow_table_wrap my-1">
                <table  class="income_table cashflow_table">
                  <th>Wartość</th>
                  <th>Data</th>
                  <th>Kategoria</th>
                  <th>Opis</th>
                  {% for row in balance.incomes %}
                    <tr>
                      <td>{{ row.amount }}</td>
                      <td>{{ row.date_of_income }}</td>
                      <td>{{ row.name }}</td>
                      <td>{{ row.income_comment }}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
              <div class="js-balance-incomes" data-balance-incomes="{{ balance.incomes_categories|json_encode }}">
                <div id="piechart-incomes"></div>
              </div>
              <div class="balance_footer_tile">
                  <h5>SUMA: {{ balance.incomes_sum }}</h5>
              </div>
            </div>
            <div class="container_cashflow_col d-flex flex-column align-items-center">
              <div class="balance_header_tile">
                  <h3>Wydatki</h3>
              </div>
              <div class="cashflow_table_wrap my-1">
                <table  class="expense_table cashflow_table">
                  <th>Wartość</th>
                  <th>Data</th>
                  <th>Kategoria</th>
                  <th>Opis</th>
                  {% for row in balance.expenses %}
                    <tr>
                      <td>{{ row.amount }}</td>
                      <td>{{ row.date_of_expense }}</td>
                      <td>{{ row.name }}</td>
                      <td>{{ row.expense_comment }}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
              <div class="js-balance-expenses" data-balance-expenses="{{ balance.expenses_categories|json_encode }}">
                <div id="piechart-expenses"></div>
              </div>
              <div class="balance_footer_tile">
                  <h5>SUMA: {{ balance.expenses_sum }}</h5>
              </div>
            </div>
          </div>
          <div class="container_balance_row d-flex flex-column px-2 align-items-center">
            <div class="balance_header_tile">
                <h3>Bilans</h3>
            </div>
            <div class=" my-1">
  <h5>{{ balance.balance_value }}</h5>
            </div>
            <div class=" my-1">
  <h6>{{ balance.status }}</h6>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
