{% extends "base.html" %}

{% block title %}Expense{% endblock %}

{% block footer %}

	<script src="/js/site.js"></Script>	

{% endblock %}

{% block body %}


    
<div class="centralArea">

  {% if expense.errors is not empty %}

  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground">
      <p>Błędy:</p>
      <ul>

        {% for error in expense.errors %}
          <li>{{ error }}</li>
        {% endfor %}

      </ul>
    </div>
  </div>

  {% endif %}

  <div class="row">
    <div class="col-12 fullColorBackground">
        <div class="d-block prosHeader">
            <h1><i class="icon-chart-bar"></i>Twój bilans<i class="icon-chart-bar"></i></h1>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 fullColorBackground my-4 px-4 pb-3 d-flex justify-content-center">                          
        <div class="main_wrapper_balance d-flex flex-column w-100">
          <div class="container_cashflow_wrapper px-2 justify-content-around">
            <div class="container_cashflow_col d-flex flex-column align-items-center">
              <div class="balance_header_tile">
                  <h3>Przychody</h3>
              </div>
              <div class="cashflow_table_wrap my-1">
  <table  class="income_table cashflow_table">
  <th>Wartość</th>
  <th>Data</th>
  <th>Opis</th>
  {% for row in balance.incomes %}
    <tr>
      <td>{{ row.amount }}</td>
      <td>{{ row.date_of_expense }}</td>
      <td>{{ row.expense_comment }}</td>
    </tr>
  {% endfor %}
  </table>
              </div>								
              <div class="balance_footer_tile">
                  <h5>SUMA: </h5>
              </div>                               
            </div>
            <div class="container_cashflow_col d-flex flex-column align-items-center">
              <div class="balance_header_tile">
                  <h3>Wydatki</h3>
              </div>
              <div class="cashflow_table_wrap my-1">
  <table  class="expense_table cashflow_table">
  <th>Wartość</th>
  <th>Data</th>
  <th>Opis</th>
  {% for row in balance.expenses %}
    <tr>
      <td>{{ row.amount }}</td>
      <td>{{ row.date_of_expense }}</td>
      <td>{{ row.expense_comment }}</td>
    </tr>
  {% endfor %}
  </table>
              </div>								
              <div class="balance_footer_tile">
                  <h5>SUMA:</h5>
              </div>
            </div>
          </div>
          <div class="container_balance_row d-flex flex-column px-2 align-items-center">
            <div class="balance_header_tile">
                <h3>Bilans</h3>
            </div> 
            <div class=" my-1">
  <h5>SESSION['balance']</h5>
            </div>  
            <div class=" my-1">
  <h6>SESSION['balance_status']</h6>
            </div>                           
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
