{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block body %}

    
<div class="centralArea">
    <div class="row">
        <div class="col-10 col-xl-8 offset-1 offset-xl-2 fullColorBackground">
            <div class="d-block prosHeader">
                <h1>
                    Ustawienia
                </h1>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-10 col-xl-8 offset-1 offset-xl-2 my-2">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground my-4 px-4 pb-3">
                <h6>
                    Zmiana hasła
                </h6>
                <form method="post" action="/settings/updatePassword" id ="formUpdatePassword">
                    <div class="input-group w-75 mx-auto justify-content-center">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="icon-lock"></i></div>
                        </div>
                        <label for="exampleInputPassword1"></label>
                        <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Hasło"/>
                    </div>
                    <div class="buttonArea d-flex">
                      <button type="submit" class="btn btn-outline-primary w-50 mx-auto"><i class="icon-floppy"></i>Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--     <div class="row ">
        <div class="col-10 col-xl-8 offset-1 offset-xl-2 my-2">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground my-4 px-4 pb-3">
                <h6>
                    Zmiana adresu email
                </h6>
                <form method="post" action="">
                    <div class="input-group w-75 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="icon-at"></i></div>
                        </div>
                        <input name="email" type="email" class="form-control " id="inputEmail" aria-describedby="emailHelp" placeholder="Podaj email"
                        value="{{ user.email }}" required />
                    </div>
                    <div class="buttonArea d-flex">
                      <button type="submit" class="btn btn-outline-primary w-50 mx-auto"><i class="icon-floppy"></i>Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <div class="row ">
        <div class="col-10 col-xl-8 offset-1 offset-xl-2 my-2">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground my-4 px-4 pb-3">
              <form method="post" action="/settings/save" id="formSettingsCategories">
                <div id="cat-inputs-wrap">
                    <div id="paymetMethodsGroup">
                        <h6>
                            Metody płatności
                        </h6>
                        <div id="paymetMethods" class="setting_wrapper">
                            {% if paymentMethods is not empty %}
                                {% for row in paymentMethods %}
                                    {% if validationStatus == false %}
                                        {% set errorClass = "" %}
                                        {% set displayClass = "" %}
                                        {% if row.errors is not empty %}
                                            {% set errorClass = "border border-danger rounded" %}
                                            {% for error in row.errors %}
                                                <label class="error">{{error}}</label>
                                            {% endfor %}
                                        {% endif %}
                                        {% if '_del' in row.modificationType %}
                                            {% set displayClass = "d-none" %}
                                        {% endif %}
                                        {% if '_confirm' in row.modificationType %}
                                            {% set confirmButton = "d-none" %}
                                        {% endif %}
                                            <div class="input-group w-100 mx-auto {{errorClass}} {{displayClass}}">
                                                <input name="{{row.modificationType}}" class="form-control settings-table" value="{{ row.name }}" required/>
                                                {% if '_confirm' in row.modificationType %}
                                                    <button type="button" class="btn btn-outline-secondary" onclick="confirmRemoveCategory(this)">?</button>
                                                {% endif %}
                                                {% if '_confirm' not in row.modificationType %}
                                                    <button type="button" class="btn btn-outline-secondary" onclick="removeCategory(this)"><i class="icon-trash"></i></button>
                                                {% endif %}
                                            </div>
                                    {% endif %}
                                    {% if validationStatus == true %}
                                        <div class="input-group w-100 mx-auto">
                                            <input name="payment_{{row.id}}" class="form-control settings-table" value="{{ row.name }}" required/>
                                            <button type="button" class="btn btn-outline-secondary" onclick="removeCategory(this)"><i class="icon-trash"></i></button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="buttonArea d-flex">
                            <button type="button" class="btn btn-outline-primary w-75 mx-auto my-2" onclick="addCategory(this, 'payment')">
                                <i class="icon-plus-outline"></i>Dodaj sposób płatności
                            </button>
                        </div>
                    </div>
                    <div id="incomeCategoriesGroup">
                        <h6>
                            Źródła dochodu
                        </h6>
                        <div id="incomeCategories" class="setting_wrapper">
                            {% if incomesCategories is not empty %}
                                {% for row in incomesCategories %}
                                    {% if validationStatus == false %}
                                        {% set errorClass = "" %}
                                        {% set displayClass = "" %}
                                        {% set confirmButton = "" %}
                                        {% if row.errors is not empty %}
                                            {% set errorClass = "border border-danger rounded" %}
                                            {% for error in row.errors %}
                                                <label class="error">{{error}}</label>
                                            {% endfor %}
                                        {% endif %}
                                        {% if '_del' in row.modificationType %}
                                            {% set displayClass = "d-none" %}
                                        {% endif %}
                                        {% if '_confirm' in row.modificationType %}
                                            {% set confirmButton = "d-none" %}
                                        {% endif %}
                                            <div class="input-group w-100 mx-auto {{errorClass}} {{displayClass}}">
                                                <input name="{{row.modificationType}}" class="form-control settings-table" value="{{ row.name }}" required/>
                                                {% if '_confirm' in row.modificationType %}
                                                    <button type="button" class="btn btn-outline-secondary" onclick="confirmRemoveCategory(this)">?</button>
                                                    <button type="button" class="btn btn-info" onclick="undoRemoveCategory(this)"><</button>
                                                {% endif %}
                                                {% if '_confirm' not in row.modificationType %}
                                                    <button type="button" class="btn btn-outline-secondary" onclick="removeCategory(this)"><i class="icon-trash"></i></button>
                                                {% endif %}
                                            </div>
                                    {% endif %}
                                    {% if validationStatus == true %}
                                        <div class="input-group w-100 mx-auto">
                                            <input name="income_{{row.id}}" class="form-control settings-table" value="{{ row.name }}" required/>
                                            <button type="button" class="btn btn-outline-secondary" onclick="removeCategory(this)"><i class="icon-trash"></i></button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="buttonArea d-flex">
                            <button type="button" class="btn btn-outline-primary w-75 mx-auto my-2" onclick="addCategory(this, 'income')">
                                </label><i class="icon-plus-outline"></i>Dodaj Kategorię
                            </button>
                        </div>
                    </div>
                    <div id="expenseCategoriesGroup">
                        <h6>
                            Kategorie wydatków
                        </h6>
                        <div id="expenseCategories" class="setting_wrapper">
                            {% if expensesCategories is not empty %}
                                {% for row in expensesCategories %}
                                    {% if validationStatus == false %}
                                        {% set errorClass = "" %}
                                        {% set displayClass = "" %}
                                        {% if row.errors is not empty %}
                                            {% set errorClass = "border border-danger rounded" %}
                                            {% for error in row.errors %}
                                                <label class="error">{{error}}</label>
                                            {% endfor %}
                                        {% endif %}
                                        {% if '_del' in row.modificationType %}
                                            {% set displayClass = "d-none" %}
                                        {% endif %}
                                        {% if '_confirm' in row.modificationType %}
                                            {% set confirmButton = "d-none" %}
                                        {% endif %}
                                        <div class="input-group w-100 mx-auto {{errorClass}} {{displayClass}}">
                                            <input name="{{row.modificationType}}" class="form-control settings-table" value="{{ row.name }}" required/>
                                            {% if '_confirm' in row.modificationType %}
                                                <button type="button" class="btn btn-outline-secondary" onclick="confirmRemoveCategory(this)">?</button>
                                            {% endif %}
                                            {% if '_confirm' not in row.modificationType %}
                                                <button type="button" class="btn btn-outline-secondary" onclick="removeCategory(this)"><i class="icon-trash"></i></button>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if validationStatus == true %}
                                        <div class="input-group w-100 mx-auto category-row">
                                            <input name="expense_{{row.id}}" class="form-control settings-table category-name" value="{{ row.name }}" required/>
                                            <label class="form-check-label form-control settings-table expense_limit" for="expense_limit_{{row.id}}" hidden>Limit: <span class="limit-value"></span></label>
                                            <button name="expense_limit_{{row.id}}" id="expense_limit_{{row.id}}" type="button" class="btn btn-outline-secondary settings-table expense_limit"><i class="icon-lock-open"></i></button>
                                            <button type="button" class="btn btn-outline-secondary settings-table" onclick="removeCategory(this)"><i class="icon-trash"></i></button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="buttonArea d-flex">
                            <button type="button" class="btn btn-outline-primary w-75 mx-auto my-2" onclick="addCategory(this, 'expense')">
                                </label><i class="icon-plus-outline"></i>Dodaj Kategorię
                            </button>
                        </div>
                    </div>
                </div>
                <div class="buttonArea d-flex">
				  <button type="button" class="btn btn-outline-success w-50 mx-auto" onclick="window.location.href='/settings'"><i class="icon-back"></i>Cofnij</button>
                  <button type="submit" class="btn btn-primary w-50 mx-auto"><i class="icon-floppy"></i>Zapisz</button>
                </div>    
              </form>
            </div>
        </div>    
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeDeleteModal()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabel">Potwierdź akcję</h4>
        </div>
        <div class="modal-body">
          <h2>
            <span>Usunięcie kategorii "</span>
            <span class="category-name"></span>
            <span>" spowoduje usunięcie wszystkich powiązanych z nią wpisów</span>
            <span style="text-decoration: underline">po zapisaniu zmian</span>
          </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeDeleteModal()">Zamknij</button>
          <button type="button" class="btn btn-danger" onclick="confirmRemovalByModal(this)">Potwierdź usunięcie</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="limitModal" tabindex="-1" role="dialog" aria-labelledby="limitModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeLimitModal()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="limitModalLabel">Ustaw limit dla kategorii
            <span class="limit-category-name"></span></h4>
        </div>
        <form method="post" action="/api/setLimit" id="formLimit">
            <div class="modal-body d-flex flex-wrap">
                <div class="d-flex w-100 justify-content-center">
                    <label for="add-limit">Dodaj limit do kategorii</label>
                    <input class="limit-modal-input-checkbox" type="checkbox" name="add-limit" id="add-limit">
                </div>
                <div class="d-flex w-100 justify-content-center">
                    <input class="limit-modal-input-number" type="number" name="modal-limitValue" id="modal-limitValue" min="0" max="99999999" step="1" disabled>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeLimitModal()">Zamknij</button>
              <button type="submit" class="btn btn-danger" >Zapisz</button>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}


{% block footer %}

	<script src="/js/site.js"></Script>
	<script src="/js/limit.js"></Script>

{% endblock %}
