{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}

    

<div class="centralArea col-12">
    <div class="row">
        <div class="col-md-6 offset-md-3 fullColorBackground">
            <div class="d-block prosHeader">
                <form action="login.php" method="post">
<!--                 <?php
                    if (isset($_SESSION['signUpMessage'])){echo $_SESSION['signUpMessage'];}
                    unset($_SESSION['signUpMessage']);
                ?> -->
                <h1><i class="icon-flight prosIcon"></i>Logowanie</h1>
                <div class="input-group w-75 mx-auto">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="icon-at"></i></div>
                    </div>
                    <input name="email" type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Podaj email"
                    />
                </div>
                <div class="input-group w-75 mx-auto">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="icon-lock"></i></div>
                    </div>
                    <label for="exampleInputPassword1"></label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword" placeholder="Hasło">
                </div>                         
                <button type="submit" class="btn btn-outline-primary signIn my-4 w-50">Zaloguj się!</button>
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 fullColorBackground my-5">
            <div class="d-block prosHeader">
                <h1>Nie masz jeszcze konta?</h1>
                <a href="/signup/index">
                    <button type="button" class="btn btn-outline-secondary signIn my-4 w-50">Zarejestruj się!</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
