{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block footer %}

	<script src="/js/site.js"></Script>	

	<script>
		
		$(document).ready(function() {
			$('#formIncome').validate({
				rules: {
					income_amount: {
						required: true,
						validAmount: true
						},
					income_date: {
						required: true,
						validDate: true
						},
          income_category: {
						required: true,
            min: 1
					}
				},
				messages: {
          income_amount: {
            required: "Proszę podać kwotę",
            number:"Podaj poprawną wartość"
          },            
          income_date: {
            required: "Proszę podać datę"
          },
					income_category: "Proszę wybrać kategorię"
				}
			});
		});	
	</script>

{% endblock %}

{% block body %}
    
<div class="centralArea">

  {% if income.errors is not empty %}
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground">
      <p>Błędy:</p>
      <ul>

        {% for error in income.errors %}
          <li>{{ error }}</li>
        {% endfor %}

      </ul>
    </div>
  </div>
  {% endif %}

  <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground">
          <div class="d-block prosHeader">
              <h1><i class="icon-down-open"></i>Dodaj przychód<i class="icon-down-open"></i></h1>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground my-4 px-4 pb-3">
        {% if income.id is not empty %}
          {% set formAction = "/incomes/update" %}
        {% endif %}
        {% if income.id is empty %}
          {% set formAction = "/incomes/add" %}
        {% endif %}
        <form method="post" action="{{formAction}}" id="formIncome">
          {% if income.id is not empty %}
          <input name="id" type="text" class="form-control " hidden value = "{{ income.id }}">
          <input name="redirectUrl" type="text" class="form-control " hidden value = "{{ income.redirectUrl }}">
          {% endif %}
          <div class="input-group inputControl w-100">
              <div class="input-group-prepend w-25">
                  <div class="input-group-text w-100 justify-content-center"><i class="icon-money"></i></div>
              </div>
              <input name="income_amount" type="number" class="form-control " min="0.0" step=".01" placeholder="Kwota" required value = "{{ income.amount }}">
          </div>
          <div class="input-group inputControl w-100">
              <div class="input-group-prepend w-25">
                <label class="input-group-text w-100 justify-content-center"><span class="datePrependLabel">Data</span> <i class="icon-calendar"></i></label>
              </div>
              <input name="income_date" type = "text" id = "datepicker-13" class="form-control datepicker" required value = "{{ income.date_of_income }}">
          </div>
          <div class="input-group mb-3 inputControl w-100">
              <div class="input-group-prepend w-25">
                <div class="input-group-text w-100 justify-content-center"><i class="icon-th"></i></div>
              </div>
              <select name="income_category" class="form-select">
                {% if income.id is empty %}
                <option>Kategoria</option>
                {% endif %}
                {% if income_categories is not empty %}
                  {% for row in income_categories %}
                    {% if row.id == income.income_category_id %}
                    <option value="{{row.id}}" selected>{{ row.name }}</option>
                    {% endif %}
                    {% if row.id != income.income_category_id %}
                    <option value="{{row.id}}">{{ row.name }}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </select>
          </div>
          <div class="input-group mb-3 inputControl w-100">
              <div class="input-group-prepend w-25">
                <div class="input-group-text w-100 justify-content-center"><i class="icon-doc-text"></i></div>
              </div>
              <textarea id="income_comment" name="income_comment" rows="1" cols="50" class="form-control" placeholder="Opisz swój przychód">{{ income.income_comment }}</textarea>
          </div>
          <div class="buttonArea d-flex justify-content-center">
            {% if income.id is not empty %}
            <a href="/incomes/remove?id={{income.id}}" class="w-50 mx-1">
              <button type="button" class="btn btn-outline-danger w-100"><i class="icon-trash"></i>Usuń</button>
            </a>
            {% endif %}
            <button type="submit" class="btn btn-primary w-50 mx-1"><i class="icon-down-open"></i>Dodaj</button>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}
