{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block footer %}

	<script src="/js/site.js"></Script>	

	<script>
		
		$(document).ready(function() {
			$('#formIncome').validate({
				rules: {
					income_amount: {
						required: true,
						validAmount: true
						},
					income_date: {
						required: true,
						validDate: true
						},
          income_category: {
						required: true,
            min: 1
					}
				},
				messages: {
          income_amount: {
            required: "Proszę podać kwotę"
          },            
          income_date: {
            required: "Proszę podać datę"
          },
					income_category: "Proszę wybrać kategorię"
				}
			});
		});	
	</script>

{% endblock %}

{% block body %}
    
<div class="centralArea">

  {% if income.errors is not empty %}
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground">
      <p>Błędy:</p>
      <ul>

        {% for error in income.errors %}
          <li>{{ error }}</li>
        {% endfor %}

      </ul>
    </div>
  </div>
  {% endif %}

  <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground">
          <div class="d-block prosHeader">
              <h1><i class="icon-down-open"></i>Dodaj przychód<i class="icon-down-open"></i></h1>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 fullColorBackground my-4 px-4 pb-3">
        <form method="post" action="/incomes/add" id="formIncome">
          <div class="input-group inputControl w-100">
              <div class="input-group-prepend w-25">
                  <div class="input-group-text w-100 justify-content-center"><i class="icon-money"></i></div>
              </div>
              <input name="income_amount" type="number" class="form-control " min="0.0" step=".01" placeholder="Kwota" value = "{{ income.income_amount }}">
          </div>
          <div class="input-group inputControl w-100">
              <div class="input-group-prepend w-25">
                <label class="input-group-text w-100 justify-content-center"><span class="datePrependLabel">Data</span> <i class="icon-calendar"></i></label>
              </div>
              <input name="income_date" type = "text" id = "datepicker-13" class="form-control datepicker"  value = "{{ income.income_date }}">
          </div>  
          <div class="input-group mb-3 inputControl w-100">
              <div class="input-group-prepend w-25">
                <div class="input-group-text w-100 justify-content-center"><i class="icon-th"></i></div>
              </div>
              <select name="income_category" class="form-select" onfocus='this.size=2;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                <option selected>Kategoria</option>
                <option value="1">Wynagrodzenie</option>
                <option value="2">Odsetki bankowe</option>
                <option value="3">Sprzedaż</option>
                <option value="4">Inne</option>
              </select>
          </div>
          <div class="input-group mb-3 inputControl w-100">
              <div class="input-group-prepend w-25">
                <div class="input-group-text w-100 justify-content-center"><i class="icon-edit"></i></div>
              </div>
              <textarea id="income_comment" name="income_comment" rows="1" cols="50" class="form-control" placeholder="Opisz swój przychód">{{ income.income_comment }}</textarea>
          </div>
          <div class="buttonArea d-flex">
            <button type="submit" class="btn btn-outline-primary w-50 mx-auto"><i class="icon-down-open"></i>Dodaj</button>
          </div>    
        </form>
      </div>
  </div>
</div>

{% endblock %}
